@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;

  src: local("Roboto-Regular")
    url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
}

@font-face {
  font-family: Roboto Slab;

  src: local("RobotoSlab-Regular")
    url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
}

html,
#root {
  min-height: 100%;
  min-width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  background-color: #21a89b45;
  --toastify-color-error: #be123c;
  --toastify-color-success: #21a89a;
}

.btm-nav > *:where(.active) {
  border-top-width: 3px;
  --tw-bg-opacity: 1;
  border-color: #e5e9e7;
}

.your-location .leaflet-popup-content-wrapper {
  background: #e5e9e7;
}

.your-location .leaflet-popup-tip {
  background: #e5e9e7 ;
}

.station-popup .leaflet-popup-content-wrapper {
  background: #e5e9e7;
  border: 5px;
  border-color: purple;
}

.station-popup .leaflet-popup-tip {
  background: #e5e9e7;
}

.leaflet-popup-close-button {
  display: none;
}

.station-popup .leaflet-popup-content p {
  margin: 0px 0px;
}
